<div class="nav-overlay uk-navbar-right">

    <a class="uk-navbar-toggle" uk-search-icon uk-toggle href="#modal-full"></a>

</div>

<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>
        <form action="{% url 'main:search' %}" class="uk-search uk-search-large">
            <input class="uk-search-input uk-text-center" name="q" type="search" placeholder="Rechercher..." autofocus>
        </form>
    </div>
</div>