<div class="nav-overlay uk-navbar-right">
    <ul class="uk-navbar-nav">
        <li>
            <a class="uk-navbar-toggle" uk-search-icon uk-toggle href="#modal-full"></a>
        </li>
        <li>
            <a href="{% url 'shop:bucket' %}">
                <span uk-icon="icon: cart "></span>
                <span class="uk-badge" id="shop-count">{{ shop_count }}</span>
            </a>
        </li>
    </ul>
</div>

<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>
        <form action="{% url 'main:search' %}" class="uk-search uk-search-large">
            <input class="uk-search-input uk-text-center" name="q" type="search" placeholder="Rechercher..." autofocus>
        </form>
    </div>
</div>